{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<h1 class="font-weight-bold-light st-font text-center text-primary mt-5">Skillset </h1>
<hr class="border mb-3">
<div class="container  mt-5">
    <div class="row text-light">
        <div class="skill-content-left block-div text-center col-sm-4">
            <br><br><br><br><br>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i> Application Developement</h6>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i> Application Design</h6>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i>  Industrial Implementation</h6>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i> Software Developement Lifecycle</h6>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i> Object Oriented Approach</h6>
            <h6 class="text-warning st-font1 mt-2 text-justify"> <i class="fas fa-plus"></i>  Data Structures & Algorithms</h6>
        </div>
        <div class="skill-content-right col-sm-6  my-4"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-warning st-font1 mt-2"> Python</h6>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> Django</h6>
                          <div class="progress mb-2">
                            <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> HTML</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> CSS</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> tkInter</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> Numpy</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> Pandas</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> matplotib</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="text-warning st-font1 mt-2"> ada</h6>
                        <div class="progress mt-2">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> SPARK</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> BeautifulSoup4</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> MSSQL</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> MySQL</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> MongoDB</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> Integrity</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
                          <h6 class="text-warning st-font1 mt-2"> Git</h6>
                          <div class="progress mt-2">
                            <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>


                    </div>
                </div>
            </div>
              

        </div>
    </div>
</div>

{% endblock content %}